{% extends 'baseTemplates.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <body>
    <div class="col-4">
    </div>

    <h1 class="rounded-3 text-center text-white col-4" style="background-color: #549162"><b>สิ่งที่สนใจ</b>
    </h1>
    <br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-7 text-center rounded-4" style="background-color: #549162">
                    <h2>การใช้โประแกรมตัดต่อวิดีโอ Premiere Pro</h2>
                    <img src="{% static "images/pre-removebg-preview.png" %}">
                    <p>เป็นโปรแกรมตัดต่อวีดีโอคุณภาพสูง รองรับการใช้งานในระดับอุตสาหกรรม</p>
                    <p class="text-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป็นซอฟแวร์โปรแกรมที่ใช้ในงานตัดต่อวิดีโอและบันทึกตัดต่อเสียงที่แพร่หลายที่สุด
                        สามารถผลิตผลงานได้ในระดับมืออาชีพ จนถึงการนำไปออกอากาศทางสถานีโทรทัศน์ (Broadcasting System )
                        มีการทำงานที่ไม่ยุ่งยากซับซ้อนมากนัก สามารถจับภาพและเสียงมาวาง (Drag & Drop) ลงบนไทม์ไลน์ (Time
                        line)
                        เคลื่อนย้ายได้อิสระโดยไม่จำกัดจำนวนครั้ง และไม่มีการสูญเสียของสัญญาณภาพและเสียง
                        เพียงผู้ผลิตรายการ
                        ต้องมีทักษะที่ดีในการใช้โปรแกรมกับความคิดสร้างสรรค์เท่านั้น</p>
                </div>
            </center>
        </div>

        <div class="row">
            <div class="col-1 text-center rounded-4">

            </div>
            <div class="col-5 text-center rounded-4" style="background-color: #549162">
                <h2>Sneaker</h2>
                <p class="text-white">
                    รองเท้าผ้าใบ เป็นรองเท้าที่ออกแบบมาเพื่อการเล่นกีฬาหรือการออกกำลังกายรูปแบบต่างๆ
                    กีฬาที่นำเอาสนีกเกอร์มาใช้เช่น
                    บาสเกตบอล เทนนิส และแบดมินตัน ซึ่งจะถูกนำมาใช้บ่อยมากแม้แต่นักกีฬาดังก็ยังใช้
                    โดยวัสดุที่ใช้ในการผลิตรองเท้าสนีกเกอร์จะใช้ "ยาง"
                    เท่านั้นเพราะเป็นรองเท้าสำหรับเล่นกีฬาและออกกำลังกายเพื่อให้ผู้สวมใส่คล่องตัว ควบคุมการเคลี่อนไหว
                    การหยุด ได้อย่างดี
                    แต่ปัจจุบันมีการทำวัสดุอื่นเข้ามาใช้แทนยางเช่น หนัง ผ้าถัก เป็นต้น อีกทั้งยังมีจุดเด่นคือ
                    มีน้ำหนักเบา ถึงแม้ว่ามองทั่วไปเพลินๆอาจจคิดว่าหนัก
                    แต่จริงเบากว่ารองเท้าชนิดอื่นๆมาก และอีกอย่างสามารถสวมใส่สบาย และสามารถใส่ไปได้ในทุกๆ
                    ที่รองเท้าสนีกเกอร์ ยังสามารถแบ่งออกได้ 2 ประเภทคือ
                    ประเภทแรกคือที่กล่าวไว้ข้างต้นเป็นรองเท้าสำหรับการเล่นกีฬาหรือการออกกำลังกาย
                    ก็เป็นจุดประสงค์หลักของรองเท้าอยู่แล้ว
                    และประเภทที่สอง รองเท้าสนีกเกอร์แบบแฟชั่น
                    ซึ่งผู้ผลิตจะออกแบบรองเท้าให้ทันสมัยแต่ยังคงรูปลักษณ์ไม่ต่างจากเดิมมาก
                    โดยสามารถสวมใส่เข้ากับชุดท่องเที่ยวเพิ่มไลฟ์สไตล์ในการแต่งตัวด้วยความเป็นเอกลักษณ์ของรองเท้าทำให้เข้ากับหลายๆชุด
                    โดยปัจจุบันก็เน้นไปทางแฟชั่นมากกว่าใช้ในการเล่นกีฬา
                </p>
                <img src="{% static "images/sneaker.jpg" %}" width="400" height="200"><br><br>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-5 text-center rounded-4" style="background-color: #549162">
                <h2>การออกแบบหน้าต่าง User interface</h2>
                <p class="text-white">
                    ส่วนต่อประสานกับผู้ใช้งาน หรือ ส่วนที่ใช้ในการเชื่อมต่อกับผู้ใช้งาน กล่าวคือ
                    ส่วนที่ให้ผู้ใช้งานสามารถโต้ตอบกับการใช้งานผลิตภัณฑ์ได้
                    ซึ่งจะมุ่งเน้นไปที่เรื่องของหน้าตา การออกแบบ และการดีไซน์ ยกตัวอย่างเช่น หน้าจอ แพลตฟอร์ม เมนู
                    ฟอร์มต่าง ๆ การวางภาพ
                    ขนาดตัวอักษร ปุ่ม แป้นพิมพ์ เสียง หรือแม้แต่แสงไฟ ส่วนต่อประสานกับผู้ใช้งาน หรือ
                    ส่วนที่ใช้ในการเชื่อมต่อกับผู้ใช้งาน กล่าวคือ
                    ส่วนที่ให้ผู้ใช้งานสามารถโต้ตอบกับการใช้งานผลิตภัณฑ์ได้ ซึ่งจะมุ่งเน้นไปที่เรื่องของหน้าตา การออกแบบ
                    และการดีไซน์ ยกตัวอย่างเช่น หน้าจอ
                    แพลตฟอร์ม เมนู ฟอร์มต่าง ๆ การวางภาพ ขนาดตัวอักษร ปุ่ม แป้นพิมพ์ เสียง หรือแม้แต่แสงไฟ
                </p>
                <img src="{% static "images/ui.jpg" %}" width="400" height="280">
            </div>
        </div><br><br>
    </div>

    </body>
{% endblock %}
