{% extends 'baseTemplates.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <body>
    <div class="col-4">
    </div>

    <h1 class="rounded-3 text-center text-white col-4" style="background-color: #549162 "><b>สินค้านำเสนอขาย</b>
    </h1>
    <br>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-6 text-center rounded-2" style="font-size: 26px; background-color: #549162">
                    <marquee direction="right"><b><u>รองเท้า (SHOE)</u></b></marquee>
                </div>
            </center>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <table class="table table-hover table-striped text-center ">
                    <tr style="font-size: 19px">
                        <th>IMAGE</th>
                        <th>BRAND</th>
                        <th>MODEL</th>
                        <th>PRICE</th>
                    </tr>
                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/Air Force 1 07.jpg" %}" width="100" height="100">
                        </td>
                        <td>
                            <p>NIKE</p>
                        </td>
                        <td>
                            <p>Air Force 1 '07</p>
                        </td>
                        <td>
                            <p>3,700</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/vans.jpg" %}" width="100" height="100">
                        </td>
                        <td>
                            <p>VANS</p>
                        </td>
                        <td>
                            <p>VANS OLD SKOOL - BETTER NATURE GRAY</p>
                        </td>
                        <td>
                            <p>2,900</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/sbblazerlowprogt.jpg" %}" width="100" height="100">
                        </td>
                        <td>
                            <p>NIKE</p>
                        </td>
                        <td>
                            <p>SB Zoom Blazer Low Pro GT</p>
                        </td>
                        <td>
                            <p>2,900</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/SB Dunk High Pro PRM.jpg" %}" width="100" height="80">
                        </td>
                        <td>
                            <p>NIKE</p>
                        </td>
                        <td>
                            <p>SB Dunk High Pro PRM</p>
                        </td>
                        <td>
                            <p>4,300</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/HIBISCUS CHECK BLACK.jpg" %}" width="100" height="80">
                        </td>
                        <td>
                            <p>VANS</p>
                        </td>
                        <td>
                            <p>HIBISCUS CHECK BLACK</p>
                        </td>
                        <td>
                            <p>3,100</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/VANS CLASSIC SLIP-ON - BLACK.jpg" %}" width="100" height="100">
                        </td>
                        <td>
                            <p>VANS</p>
                        </td>
                        <td>
                            <p>VANS CLASSIC SLIP-ON - BLACK</p>
                        </td>
                        <td>
                            <p>2,090</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/VANS OLD SKOOL - NAVY.jpg" %}" width="100" height="100">
                        </td>
                        <td>
                            <p>VANS</p>
                        </td>
                        <td>
                            <p>VANS OLD SKOOL - NAVY</p>
                        </td>
                        <td>
                            <p>2,490</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/EL DISTRITO 2.0 SEASONAL COLOR OX YELLOW.jpg" %}" width="100"
                                 height="120">
                        </td>
                        <td>
                            <p>CONVERSE</p>
                        </td>
                        <td>
                            <p>EL DISTRITO 2.0 SEASONAL COLOR OX YELLOW</p>
                        </td>
                        <td>
                            <p>2,100</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/CONVERSE CHUCK 70 SPRING COLOR HI GREY.jpg" %}" width="100"
                                 height="120">
                        </td>
                        <td>
                            <p>CONVERSE</p>
                        </td>
                        <td>
                            <p>CHUCK 70 SPRING COLOR HI GREY</p>
                        </td>
                        <td>
                            <p>3,000</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/CONVERSE Jack Purcell.jpg" %}" width="100" height="110">
                        </td>
                        <td>
                            <p>CONVERSE</p>
                        </td>
                        <td>
                            <p>Jack Purcell</p>
                        </td>
                        <td>
                            <p>2,600</p>
                        </td>
                    </tr>

                    <tr class="text-white text-center">
                        <td>
                            <img src="{% static "images/CONVERSE CONS LOUIE LOPEZ PRO SUEDE OX GREY.jpg" %}" width="100"
                                 height="110">
                        </td>
                        <td>
                            <p>CONVERSE</p>
                        </td>
                        <td>
                            <p>CONS LOUIE LOPEZ PRO SUEDE OX GREY</p>
                        </td>
                        <td>
                            <p>3,200</p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
