{% extends 'baseTemplates.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <body>
        <div class="col-4">
    </div>
    <h1 class="rounded-3 text-center text-white col-4" style="background-color: #549162"><b>บุคคลต้นแบบ</b>
    </h1>
    <br>
    <div class="container">
        <div class="row text-center">
            <div class="col-12 ">
                <img src="{% static "images/eminem.jpg" %}" height="450" width="600" class="rounded-2" >
            </div>
        </div>

        <div class="row text-start">
            <h3 class="text-center">Marshall Bruce Mathers III (EMINEM)</h3>
            <p class="text-white" style="font-size: 16px; background-color: #549162" >ในวงการเพลงฮิปฮอปทั่วโลกต่างรู้กันดีว่า “EMINEM” แร็ปเปอร์ผิวขาวที่เริ่มเป็นที่รู้จักและโด่งดังตั้งแต่ในช่วงยุค 90’s
                จนถึงปัจจุบันถือเป็นหนึ่งใน แร็ปเปอร์แนวหน้าผู้ทรงอิทธิพลคนหนึ่งของวงการเพลงฮิปฮอป ด้วยสไตล์การแร็ปที่ดุดัน ทรงพลัง และยากที่จะแร็ปตามได้ทัน
                หลังจากการปล่อยเพลงออกมาอย่างเป็นทางการทำให้ในตอนนั้นโลกได้เริ่มจับจ้องมาที่ความแปลกใหม่ของ แร็ปเปอร์ผิวขาวหน้าใหม่คนนี้
                เพราะเป็นที่รู้กันดีว่าวงการเพลงฮิปฮอปนั้นเริ่มต้นและโด่งดังมาจากคนผิวสีในสหรัฐอเมริกาทำให้แร็ปเปอร์ในยุคนั้นล้วนเป็นคนผิวสีทั้งสิ้น แต่ “EMINEM”
                สามารถเขย่าวงการนี้ได้ด้วยความสามารถที่ยากจะปฏิเสธ
            </p>
        </div>

        <div class="row text-start">
            <div class="col-5 text-center">
                <img src="{% static "images/eminem1.jpg" %}" width="400" height="350" class="rounded-2">
            </div>
            <div class="col-6 text-center">

            </div>
        </div>

    </div>

    </body>
{% endblock %}
