{% extends 'baseTemplates.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <body>
        <h1 class="text-center text-white">Hello I'm {{ fname }}  {{ lname }}</h1>
        <center><table class="table table-striped table-hover  text-center rounded-3 col-md-10" style="background-color: #549162; color: #ffffff">
        <tr>
            <td>รหัสประจำตัว</td> <td>|</td> <td>{{ id }}</td>
        </tr>

       <tr>
            <td>First Name</td> <td>|</td> <td>{{ fname }}</td>
       </tr>

        <tr>
            <td>Last Name</td> <td>|</td> <td>{{ lname }}</td>
        </tr>

        <tr>
            <td>Nick name</td> <td>|</td> <td>{{ nickname }}</td>
        </tr>

        <tr>
            <td>Gender</td> <td>|</td> <td>{{ gender }}</td>
        </tr>

       <tr>
            <td>Status</td> <td>|</td> <td>{{ status }}</td>
       </tr>

        <tr>
            <td>Education</td> <td>|</td> <td>{{ education  }}</td>
       </tr>

        <tr>
            <td>Vehicle</td> <td>|</td> <td>{{ vehicle  }}</td>
       </tr>

        <tr>
            <td>Telephon</td> <td>|</td> <td>{{ telephone  }}</td>
       </tr>

        <tr>
            <td>Laptop</td> <td>|</td> <td>{{ laptop  }}</td>
       </tr>
    </table></center>

    <center><h2 class="text-white text-center rounded-3 col-md-3" style="background-color: #549162">สินค้า</h2></center>
    <center><table class="table  text-light table-striped table-hover text-center col-md-10 rounded-3 " style="background-color: #549162">
        <tr>
            <th>ชื่อสินค้า</th>  <th>ราคา</th> <th>รูป</th>
        </tr>

    {% for product in productList %}
        <tr>
            <td>{{ product.0 }}</td> <td>{{ product.1 }}</td> <td><img src="{{ product.2 }} " height="150px" width="150px" alt=""></td>
        </tr>
    {% endfor %}
    </table></center>
    </body>
{% endblock %}
